{%
  set classes = [
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
]
%}
{% if node.field_os2web_m_start_date.value %}
  {% set timestamp = node.field_os2web_m_start_date.value|date('U') %}
{% endif %}
{% set timestamp = node.field_os2web_m_start_date.value|date('U') %}
<div {{ attributes.addClass(classes) }}>
  <div class="fields-inline">
    {{ content.field_os2web_m_type }}
    <div class="field">
    {% if timestamp %}
      <h4>{{ timestamp | format_date('os2core_date_medium') }}</h4>
    {% endif %}
    </div>
  </div>

  {{ content.field_os2web_m_committee }}
  {{ content.field_os2web_m_location }}

  {{ content.body }}

  <br>

  {{ content.field_os2web_m_bps }}
</div>
