{%
  set classes = [
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
]
%}
{% set timestamp = node.field_os2web_m_start_date.value|date('U') %}
<div {{ attributes.addClass(classes) }}>
  <h1>{{ label }}</h1>
  {{ content.body }}

  <h2>{{ 'Skriv dit høringssvar' | trans }}</h2>
  <div class="box">
    <div class="box__body">
      <div class="row">
        <div class="col-12 col-md-4">
          {{ content.field_os2web_hearings_end_date }}
        </div>
        <div class="col-12 col-md-4">
          {{ content.field_os2web_hearings_published }}
        </div>
        <div class="col-12 col-md-4">
          {{ content.links }}
        </div>
      </div>
    </div>
  </div>

  {{ content.field_os2web_hearings_reply }}
</div>
