<div class="action-buttons">
  <div class="flexy-list">
    <div>
      <a href="#" class="action-button">
        <img src="{{ base_path ~ directory }}/dist/images/action-buttons/print-white.svg" class="action-button__icon action-button__icon--white" alt="Print" />
        <img src="{{ base_path ~ directory }}/dist/images/action-buttons/print-orange.svg" class="action-button__icon action-button__icon--orange" alt="Print" />

        {{ 'Print' | trans }}
      </a>
    </div>

    <div>
      <a href="#" class="action-button">
        <img src="{{ base_path ~ directory }}/dist/images/action-buttons/audio-white.svg" class="action-button__icon action-button__icon--white" alt="{{ 'Læs højt' | trans }}" />
        <img src="{{ base_path ~ directory }}/dist/images/action-buttons/audio-orange.svg" class="action-button__icon action-button__icon--orange" alt="{{ 'Læs højt' | trans }}" />

        {{ 'Læs højt' | trans }}
      </a>
    </div>

    <div>
      <a href="#">
        {{ 'A-' | trans }}
      </a>
    </div>

    <div>
      <a href="#">
        {{ 'A+' | trans }}
      </a>
    </div>
  </div>
</div>
