{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<div class="product-wrapper">
  <article role="product" class="row" {{ attributes }}>
    <div class="col-12 col-md-6">
      {{ product.field_billede }}
    </div>
    <div class="col-12 col-md-6">
      {{ product.title }}
      {{ product.body }}
      {{- product|without('field_billede','title','body','variation_attributes','field_teaser','field_category') -}}
    </div>
  </article>
  <a class="back-to-all-products" href="/udgivelser">&nbsp;</a>
</div>