{% set uniqueId = 'comment-accordion-' ~ random() %}

{%
  set classes = [
  'comment',
  'js-comment',
  'accordion-content',
  status != 'published' ? status,
  comment.owner.anonymous ? 'by-anonymous',
  author_id and author_id == commented_entity.getOwnerId() ? 'by-' ~ commented_entity.getEntityTypeId() ~ '-author',
]
%}
<li>
  <button class="accordion-button" aria-expanded="false" aria-controls="{{ uniqueId }}">
    <div class="row">
      <div class="col-12 col-md-3">
        <strong>{{ 'Høringssvar' | trans }}</strong>
      </div>
      <div class="col-12 col-md-9">
        <div class="fields-inline">
          {{ content.field_os2web_hearings_reply_name }} - {{ comment.created.value | format_date('os2core_date_medium') }}
        </div>
      </div>
    </div>
  </button>

  <div id="{{ uniqueId }}" aria-hidden="true" {{ attributes.addClass(classes) }}>
    {{ content.comment_body }}

    {{ content.field_os2web_hearings_reply_docs }}
  </div>
</li>
