{%
  set classes = [
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
]
%}
{% set timestamp = node.field_os2web_hearings_end_date.date|date('U') %}

<a onclick="window.location='{{ url }}'" {{ attributes.addClass(classes) }}>
  <div class="entity-{{ view_mode|clean_class }}--{{ node.bundle|clean_class }}__date">
    <span class="entity-{{ view_mode|clean_class }}--{{ node.bundle|clean_class }}__date__month">
      {{ timestamp | date('M') | trans }}
    </span>
    <span class="entity-{{ view_mode|clean_class }}--{{ node.bundle|clean_class }}__date__date">
      {{ timestamp | date('d') | trans }}
    </span>
    <span class="entity-{{ view_mode|clean_class }}--{{ node.bundle|clean_class }}__date__title">
      {{ 'Frist' | trans }}
    </span>
  </div>

  <div class="entity-{{ view_mode|clean_class }}--{{ node.bundle|clean_class }}__content">
    {{ content.field_os2web_hearings_heading }}
    {{ content.body }}
  </div>

  <div class="entity-{{ view_mode|clean_class }}--{{ node.bundle|clean_class }}__actions">
    <span class="material-icons icon">
      keyboard_backspace
    </span>
  </div>
</a>
