{%
  set classes = [
  'element-wrapper-link',
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
]
%}
<div class="col-12 col-sm-6 col-md-4">
  <a onclick="window.location='{{ url }}'" {{ attributes.addClass(classes) }} aria-label="{{ 'Read more about' | trans }} {{ node.field_os2web_news_heading.value }}">
    <div class="entity-{{ view_mode|clean_class }}__image">
      {{ content.field_os2web_news_primaryimage }}
    </div>

    <div class="entity-{{ view_mode|clean_class }}__body">
      {{ content.field_os2web_news_article_date }}
      {{ content.field_os2web_news_heading }}

      {% set text = content.field_os2web_news_intro | render %}
      <div class="field field--type-body">{{ text | striptags }}</div>

      <div class="field--type-link">
        <span class="fake-link">
          {{ 'Read more' | trans }}
        </span>
      </div>
    </div>
  </a>
</div>
