{%
  set classes = [
  'element-wrapper-link',
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
]
%}
<a href="{{ url }}" {{ attributes.addClass(classes) }} aria-label="{{ 'Read more about' | trans }} {{ node.field_os2web_news_heading.value }}">
  <div class="row">
    <div class="col-12 col-sm-4">
      {{ content.field_os2web_page_heading }}
    </div>
    <div class="col-12 col-sm-4">
      {{ content.field_os2web_page_keyword }}
    </div>
    <div class="col-12 col-sm-4">
      {{ content.field_os2web_page_registrations }}
    </div>
  </div>
</a>
