{#
{% set classes = [
  'banner',
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }} {% if background_image %} style="background-image: url({{ background_image }})" {% endif %}>
    <div class="container">
      {% block content %}

        <div class="banner__box">

          {% if paragraph.field_os2web_banner_heading.value %}
            <div class="banner__heading">
              {{ content.field_os2web_banner_heading }}
            </div>
          {% endif %}

          {% if paragraph.field_os2web_banner_subheading.value or paragraph.field_os2web_banner_body.value %}
            <div class="banner__body">
              {{ content.field_os2web_banner_subheading }}
              {{ content.field_os2web_banner_body }}
            </div>
          {% endif %}

          {% if paragraph.field_os2web_banner_links.value %}
            <div class="banner__actions">
              {{ content.field_os2web_banner_links }}
            </div>
          {% endif %}

        </div>

      {% endblock %}
    </div>
  </div>
{% endblock paragraph %}
#}

{% set classes = [
    'banner',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% set banner_link = content.field_os2web_banner_links.0 %}
{% if banner_link is not empty %}
    {% set link_url = banner_link['#url'] %}
{% endif %}

{% block paragraph %}
    {% if link_url is defined %}
        <a
        href="{{ link_url }}"
        {{ attributes.addClass(classes) }}
        {% if background_image %} style="background-image: url({{ background_image }})" {% endif %}
        >
    {% else %}
        <div
        {{ attributes.addClass(classes) }}
        {% if background_image %} style="background-image: url({{ background_image }})" {% endif %}
        >
    {% endif %}
    <div class="banner__overlay"></div>
    <div class="container banner__content-wrapper">
        {% block content %}
            <div class="banner__box">
                {% if paragraph.field_os2web_banner_heading.value %}
                    <div class="banner__heading">
                        {{ content.field_os2web_banner_heading }}
                    </div>
                {% endif %}

                {% if paragraph.field_os2web_banner_subheading.value or paragraph.field_os2web_banner_body.value %}
                    <div class="banner__body">
                        {{ content.field_os2web_banner_subheading }}
                        {{ content.field_os2web_banner_body }}
                    </div>
                {% endif %}

                {# We won't separately print the banner links field here,
               because the entire banner is now clickable. #}
            </div>
        {% endblock %}
    </div>
    {% if link_url is defined %}
        </a>
    {% else %}
        </div>
    {% endif %}
{% endblock paragraph %}

