{#
/**
 * @file
 * Default theme implementation to present a borger.dk microarticle entity.
 *
 * This template is used when viewing a registered borger.dk microarticle's page,
 * e.g., /admin/content/os2web-borgerdk-microarticle)/123. 123 being the borger.dk microarticle's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 * - view_mode: View mode; for example, "teaser" or "field_reference".
 *
 * @see template_preprocess_os2web_borgerdk_microarticle()
 */
#}
{% set entity = elements['#os2web_borgerdk_microarticle'] %}
{% set uniqueId = entity.borgerdk_id.value %}
{% set hasSelfserviceLink = false %}
{% if _context['#selfservices'] | length > 0 %}
  {% set hasSelfserviceLink = true %}
{% endif %}

{% if hasSelfserviceLink %}
  <li class="has-selfservice-links">
{% else %}
  <li>
{% endif %}
  <button class="accordion-button js-accordion-add-link" aria-expanded="false" aria-controls="{{ uniqueId }}" id="label_{{ uniqueId }}">
    {{ content.title }}
  </button>

  {% if hasSelfserviceLink %}
    <div class="selfservice-links">
      {% for selfservicelink in _context['#selfservices'] %}
        <a href="{{ selfservicelink['url'] }}" class="button button-primary button--selfservice" target="_blank" aria-labelledby="label_{{ uniqueId }}">
          {{ 'Start' | trans }}
        </a>
      {% endfor %}
    </div>
  {% endif %}

  <div id="{{ uniqueId }}" aria-hidden="true" class="accordion-content">
    {{ content.content }}
  </div>
</li>
