{#
/**
 * @file
 * This is a template file for a banner prompting user to give their consent for
 * the website to set cookies.
 *
 * When overriding this template it is important to note that jQuery will use
 * the following classes to assign actions to buttons:
 *
 * agree-button      - agree to setting cookies
 * find-more-button  - link to an information page
 *
 * Variables available:
 * - message:  Contains the text that will be display whithin the banner
 * - agree_button: Label for the primary/agree button. Note that this is the
 *   primary button. For backwards compatibility, the name remains agree_button.
 * - disagree_button: Contains Cookie policy button title. (Note: for historical
 *   reasons, this label is called "disagree" even though it just displays the
 *   privacy policy.)
 * - secondary_button_label: Contains the secondary button label. The current
 *   action depends on whether you're running the module in Opt-out or Opt-in
 *   mode.
 * - primary_button_class: Contains class names for the primary button.
 * - secondary_button_class: Contains class names for the secondary button
 *   (if visible).
 * - cookie_categories: Contains a array with cookie categories that can be
 *   agreed or disagreed to separately.
 * - save_preferences_button_label: Label text for a button to save the consent
 *   preferences.
 * - fix_first_cookie_category: Boolean value to indicate that the first consent
 *   category cannot be unchecked.
 * - privacy_settings_tab_label: Label text for the Privacy settings tab.
 * - withdraw_button_on_info_popup: Show the withdraw button on this popup.
 * - method: Chosen consent method.
 */
#}
{% if privacy_settings_tab_label %}
  <button type="button" class="eu-cookie-withdraw-tab">{{ privacy_settings_tab_label }}</button>
{% endif %}
{% set classes = [
  'eu-cookie-compliance-banner',
  'eu-cookie-compliance-banner-info',
  ['eu-cookie-compliance-banner--', method|replace({'_': '-'})]|join,
] %}
<div{{ attributes.addClass(classes) }}>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-8">
        <div>
          {{ message }}
        </div>

        {% for key, category in cookie_categories %}
          <div class="eu-cookie-compliance-category">
            <div>
              <input type="checkbox" name="cookie-categories" id="cookie-category-{{ key }}"
                     value="{{ key }}" {% if fix_first_cookie_category and loop.first %} checked disabled{% endif %}>
              <label for="cookie-category-{{ key }}">{{ category.label }}</label>
            </div>
            {% if category.description %}
              <div class="eu-cookie-compliance-category-description">{{ category.description }}</div>
            {% endif %}
          </div>
        {% endfor %}

        {% if disagree_button %}
          <div class="field--type-link">
            <a href="#" class="find-more-button eu-cookie-compliance-more-button">{{ disagree_button }}</a>
          </div>
        {% endif %}

      </div>
      <div class="col-12 col-sm-6 col-md-4 text-align-right">

        <ul class="inline-list">
          {% if secondary_button_label %}
            <li>
              <button type="button" class="button button-tertiary {{ secondary_button_class }}">{{ secondary_button_label }}</button>
            </li>
          {% endif %}
          <li>
            <button type="button" class="button button-secondary {{ primary_button_class }}">{{ agree_button }}</button>
          </li>

          {% if cookie_categories %}
            <li>
              {% if save_preferences_button_label %}
                <button type="button" class="eu-cookie-compliance-save-preferences-button">{{ save_preferences_button_label }}</button>
              {% endif %}
            </li>
          {% endif %}

        </ul>

      </div>
    </div>
  </div>
</div>
