{%
  set classes = [
  'accordion',
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
]
%}
{%
  set title_classes = [
  'field__label',
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}

{% if label_hidden %}
  <ul{{ attributes.addClass(classes) }}>
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  </ul>
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}><h2>{{ label }}</h2></div>
    <ul{{ attributes.addClass(classes) }}>
      {% for item in items %}
        {{ item.content }}
      {% endfor %}
    </ul>
  </div>
{% endif %}
