{%
  set classes = [
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
]
%}
{% if node.field_os2web_m_start_date.value %}
  {% set timestamp = node.field_os2web_m_start_date.date|date('U') %}
{% endif %}

<a onclick="window.location='{{ url }}'" {{ attributes.addClass(classes) }}>
  <div class="entity-{{ view_mode|clean_class }}--{{ node.bundle|clean_class }}__date">
    <span class="entity-{{ view_mode|clean_class }}--{{ node.bundle|clean_class }}__date__month">
    {% if timestamp %}
      {{ timestamp | date('M') | trans }}
    {% endif %}
    </span>
    <span class="entity-{{ view_mode|clean_class }}--{{ node.bundle|clean_class }}__date__date">
    {% if timestamp %}
      {{ timestamp | date('d') }}
    {% endif %}
    </span>
  </div>

  <div class="entity-{{ view_mode|clean_class }}--{{ node.bundle|clean_class }}__content">
    <div class="row">
      <div class="col col--align-center">
        {% if timestamp %}
          {{ timestamp | format_date('long') }}
        {% endif %}
        {{ content.field_os2web_m_committee }}
      </div>
    </div>
  </div>

  <div class="entity-{{ view_mode|clean_class }}--{{ node.bundle|clean_class }}__actions">
    <span class="material-icons icon">
      keyboard_backspace
    </span>
  </div>
</a>
