{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  paragraph.isPublished() ? null : 'paragraph--unpublished'
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

      {# Begin - links #}
      <div class="container">
        <div class="row">
        {% for menu_link in _context['#menu_links'] %}
          <div class="col-12 col-md-6 col-lg-3 entry">
            <div class="entrywrap">
                  <div class="test1">
                    <div class="taxonomy-pic">
                      {% set rendered_content = menu_link.content.field_os2web_icon|render %}
                      {% if rendered_content %}
                        {{ rendered_content }}
                      {% endif %}
                    </div>
                  </div>
                  <div class="test2">
                    <h3><a href="{{ menu_link.url }}">{{ menu_link.title }}</a></h3>
                  </div>
                  <a class="global-link" href="{{ menu_link.url }}"></a>
                  {% if menu_link['children']|length %}
                    <hr>
                    <ul>
                      {% for node_link in menu_link['children'] %}
                        <li><a href="{{ node_link.url }}">{{ node_link.title }}</a></li>
                      {% endfor %}
                    </ul>
                  {% endif %}
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      {# End - links #}

    {% endblock %}
  </div>
{% endblock paragraph %}
