<tr>
  <td style="vertical-align:middle; padding-left:123px;">
  </td>
  <td
    style="font-size:15px; font-weight:bold; vertical-align:bottom; padding:0 123px 17px 0; text-align:right; color:#333; font-family:Arial;">
    {{ content.field_os2web_newsltr_date_text }}
  </td>
</tr>
<tr>
  <td colspan="2">
    <table style="width:666px; margin:0 auto; border:0; border-collapse:collapse; font-family: Arial,sans-serif;"
           align="center">
      <tbody>
      <tr>
        <td>
          <img
            src="{{ _context['#image_path'] }}"
            alt="{{ _context['#image_title'] }}" title="{{ _context['#image_title'] }}">
        </td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2 style="margin:0; padding-top:24px; font-size:36px; font-family: Arial, sans-serif; line-height:120%;">
            <a
              href="{{ _context['#main_link'] }}"
              style="color:#333; text-decoration:none;">
              {{ content.field_os2web_newsltr_header }}
            </a>
          </h2>
        </td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <p style="width:603px; margin:11px 0 42px; color:#333; font-size:20px; line-height:150%;">
            {{ content.field_os2web_newsltr_body }}
          </p>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
{{ content.field_os2web_newsltr_rel_news }}
{{ content.field_os2web_newsltr_rel_events }}

















