{%
  set classes = [
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
]
%}
<div {{ attributes.addClass(classes) }}>
  {{ content.field_os2web_m_type }}

  {{ content.field_os2web_m_start_date }}
  {{ content.field_os2web_m_end_date }}
  {{ content.field_os2web_m_committee }}
  {{ content.field_os2web_m_location }}

  {{ content.body }}

  <br>

  {{ content.field_os2web_m_bps }}
</div>
