{%
  set classes = [
  'element-wrapper-link',
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
]
%}
<a href="{{ url }}" {{ attributes.addClass(classes) }} aria-label="{{ 'Read more about' | trans }} {{ label }}">
  <h4>{{ label }}</h4>

  <div>
    {{ content }}
  </div>

  <br>

  <div class="field--type-link text-align-right">
    {{ 'Read more' | trans }}
  </div>
</a>
