<header class="header">

  <div class="portal-header">
    <div class="container portal-header-inner">
      {{ page.header }}

      <button
        class="button button-tertiary button-menu-open js-menu-open ml-auto d-print-none"
        aria-haspopup="menu" title="{{ 'Åben mobil menu' | trans }}">
        Menu
      </button>

      <div class="portal-info">
        {{ page.secondary_menu }}
      </div>
    </div>
  </div>

  <div class="overlay"></div>

  <nav class="nav">
    <button
      class="button button-secondary button-menu-close js-menu-close"
      title="Luk mobil menu">
      <svg class="icon-svg " focusable="false" aria-hidden="true">
        <use xlink:href="#close"></use>
      </svg>
      {{ 'Luk' | trans }}
    </button>
    <div class="navbar navbar-primary">
      <div class="navbar-inner container">
        {{ page.primary_menu }}
      </div>
    </div>
    <!-- 3: Main navigation end-->

    <div class="portal-info-mobile">
      {{ page.mobile_menu }}
    </div>
  </nav>
</header>

{{ page.featured_top }}

<div class="page-container">
  <div class="container">
    <div class="row">
      {{ page.breadcrumb }}
    </div>
    <div class="row">
      {#  Wayaround for determining visibility for regions with lazybuilder.
      @See https://www.drupal.org/project/drupal/issues/953034 for more info. #}
      
        {% set has_sidebar_first = page.sidebar_first|render|striptags|trim is not empty %}
        {% set has_sidebar_second = page.sidebar_second|render|striptags|trim is not empty %}
        {% if has_sidebar_first %}
          {% set sidebar_first_classes = [
            has_sidebar_first and has_sidebar_second ? 'col-12 col-md-3',
            has_sidebar_first and has_sidebar_second is empty ? 'col-12 col-md-4',
          ] %}
          <aside {{ attributes.addClass(sidebar_first_classes) }}>
            {{ page.sidebar_first }}
          </aside>
        {% endif %}

        {% set content_classes = [
          has_sidebar_first and has_sidebar_second ? 'sidebarBothSides col-12 col-md-6',
          has_sidebar_first and has_sidebar_second is empty ? 'sidebarOnLeft col-12 col-md-8',
          has_sidebar_second and has_sidebar_first is empty ? 'sidebarOnRight col-12 col-md-8',
          has_sidebar_first is empty and has_sidebar_second is empty ? 'noSidebars col-12 col-md-12'
        ] %}
        <main {{ content_attributes.addClass(content_classes) }}>
          {% include '@fds_sof_theme/includes/action-buttons.html.twig' %}
          {{ page.content }}
        </main>
      
      {% if has_sidebar_second %}
        {% set sidebar_second_classes = [
          has_sidebar_first and has_sidebar_second ? 'col-12 col-md-3',
          has_sidebar_first is empty and has_sidebar_second ? 'col-12 col-md-4',
        ] %}
        <aside {{ attributes.addClass(sidebar_second_classes) }}>
          {{ page.sidebar_second }}
        </aside>
      {% endif %}

    </div>
  </div>
</div>

{{ page.featured_bottom_first }}

{{ page.featured_bottom_second }}

{% include '@fds_sof_theme/includes/footer.html.twig' %}

<script>
document.addEventListener("DOMContentLoaded", function() {
  os2webBannerSliderInit(
    '[data-cssname="forside-slider"]', 
    '[data-cssname="forside-slider"] .field--name-field-os2web-paragraphs > .field__item'
  );
});
</script>
