{% set modalId = 'modal-' ~ random() %}
{%
  set classes = [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
]
%}
{%
  set title_classes = [
  'field__label',
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="modal micromodal-slide" id="{{ modalId }}" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true">
        <main class="modal__content"></main>

        <footer class="modal__footer">
          <button class="button button-secondary" data-micromodal-close aria-label="{{ 'Close this window' | trans }}">
            {{ 'Close' | trans }}
          </button>
        </footer>
      </div>
    </div>
  </div>

  <div class="field__items">
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
    {% endfor %}
  </div>
</div>
