{#
/**
 * @file
 * Theme override teaser display of os2web_person_information node type.
 *
 * @see Original template core/themes/classy/templates/content/node.html.twig
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  <div class="row">
    <div class="col-12 col-sm-5 b-r">
      <div{{ content_attributes.addClass('node__content') }}>
        {{ content.field_os2web_news_primaryimage }}
        <div class="row news-metadata">
          <div class="col-sm-12">
            <span class="date">{{ content.field_os2web_news_article_date | render | striptags }}</span>
            <span>{{ content.field_os2web_news_article_author | render | striptags }}</span>
          </div>
        </div>
        {{ content.field_os2web_pi_image }}
      </div>
    </div>

    <div class="col-12 col-sm-7">
      {{ title_prefix }}
      {{ title_attributes }}{{ label }}
      {{ title_suffix }}
      <div{{ content_attributes.addClass('node__content') }}>
        {{ content.field_os2web_news_primaryimage }}
        <div class="row news-metadata">
          <div class="col-sm-12">
            <span class="date">{{ content.field_os2web_news_article_date | render | striptags }}</span>
            <span>{{ content.field_os2web_news_article_author | render | striptags }}</span>
          </div>
        </div>
        {{ content | without('field_os2web_pi_image') }}
      </div>
    </div>
  </div>

</article>
