{% if theme_settings.working_hours.working_hours__row_1__day and theme_settings.working_hours.working_hours__row_1__time %}
    <div class="row">
    <div class="col-6">
        {{ theme_settings.working_hours.working_hours__row_1__day }}
    </div>
    <div class="col-6">
        <div class="align-text-right">
        {{ theme_settings.working_hours.working_hours__row_1__time }}
        </div>
    </div>
    </div>
{% endif %}

{% if theme_settings.working_hours.working_hours__row_2__day and theme_settings.working_hours.working_hours__row_2__time %}
    <div class="row">
    <div class="col-6">
        {{ theme_settings.working_hours.working_hours__row_2__day }}
    </div>
    <div class="col-6">
        <div class="align-text-right">
        {{ theme_settings.working_hours.working_hours__row_2__time }}
        </div>
    </div>
    </div>
{% endif %}

{% if theme_settings.working_hours.working_hours__row_3__day and theme_settings.working_hours.working_hours__row_3__time %}
    <div class="row">
    <div class="col-6">
        {{ theme_settings.working_hours.working_hours__row_3__day }}
    </div>
    <div class="col-6">
        <div class="align-text-right">
        {{ theme_settings.working_hours.working_hours__row_3__time }}
        </div>
    </div>
    </div>
{% endif %}

{% if theme_settings.working_hours.working_hours__row_4__day and theme_settings.working_hours.working_hours__row_4__time %}
    <div class="row">
    <div class="col-6">
        {{ theme_settings.working_hours.working_hours__row_4__day }}
    </div>
    <div class="col-6">
        <div class="align-text-right">
        {{ theme_settings.working_hours.working_hours__row_4__time }}
        </div>
    </div>
    </div>
{% endif %}

{% if theme_settings.working_hours.working_hours__row_5__day and theme_settings.working_hours.working_hours__row_5__time %}
    <div class="row">
    <div class="col-6">
        {{ theme_settings.working_hours.working_hours__row_5__day }}
    </div>
    <div class="col-6">
        <div class="align-text-right">
        {{ theme_settings.working_hours.working_hours__row_5__time }}
        </div>
    </div>
    </div>
{% endif %}