{#
/**
 * @file os2web_spotbox.html.twig
 * Default theme implementation to present OS2Web Spotbox data.
 *
 * This template is used when viewing OS2Web Spotbox pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - spotbox_type: spotbox type value.
 * - background_color: background color type primary, secondary etc.
 * - spotbox_url: link field URL value.
 * - spotbox_heading: link field title value
 *
 * @see template_preprocess_os2web_spotbox()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'spotbox',
  'spotbox--' ~ spotbox_type,
  background_color ? ('spotbox--background-color-' ~ background_color),
] %}
<a href="{{ spotbox_url }}" {{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="col-12 col-sm-3 col-md-4">
      <div class="spotbox__image">
        {{ content.field_os2web_spotbox_icon }}
      </div>
    </div>

    <div class="col-12 col-sm-9 col-md-8">
      <div class="spotbox__content">
        <div class="field--name-field-os2web-spotbox-heading">
          <h3 class="h4">{{ spotbox_heading }}</h3>
        </div>

        {{ content.field_os2web_spotbox_link_text }}
      </div>
    </div>
  </div>
</a>
