{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('nav-primary') }}>
    {% else %}
      <ul class="overflow-menu">
    {% endif %}
    {% for item in items %}
      {%
      set classes = [
        item.in_active_trail ? 'current',
        (item.url|render|length==0) ? 'noLink',
      ]
      %}
      <li{{ item.attributes.addClass(classes) }}>
        {% if item.url|render|length %}
          <a href="{{ item.url }}" class="nav-link">
            <span>{{ item.title }}</span>
          </a>
        {% else %}
          <span class="nav-link">{{ item.title }}</span>
        {% endif %}

        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endmacro %}
