{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <ul{{ attributes.addClass('inline-list') }}>
    {% for item in items %}
      {% set classes = [
        item.in_active_trail,
      ] %}
      <li{{ item.attributes.addClass(classes) }}>
        {% if item.sociallink %}
          <a href="{{ item.url }}"
              target="{{ item.target }}"
              data-toggle="tooltip"
              data-placement="top"
              class="{{ item.class }}"
              title="{{ item.tooltip }}">
              <span class="icon fa fa-{{ item.title }}"></span>
          </a>
        {% else %}
          {{ link(item.title, item.url) }}
        {% endif %}

        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endmacro %}
