<!-- Begin - ie -->
<div class="ie-banner">
  Du kan ikke bruge ringsted.dk i Internet Explorer. Du skal bruge en anden web-browser. Internet Explorer udgår i slutningen af 2021.
</div>
<!-- End - ie -->

<!-- Begin - megamenu -->
<div class="custom-megamenu d-print-none">
  <div class="container-fluid">

    <!-- Begin - top row -->
    <div class="custom-megamenu__row custom-megamenu__row--top">
      <div class="row">

        <!-- Begin - language selector -->
        <div class="col-12 col-sm-3">
          <button
            class="custom-megamenu__button custom-megamenu__button--toggle-megamenu js-toggle-megamenu d-sm-none" aria-label="{{ 'Luk menu' | t }}">

            <span class="material-icons icon">close</span>
          </button>

          {{ page.megamenu__language_selector }}
        </div>
        <!-- End - language selector -->

        <!-- Begin - search -->
        <div class="col-12 col-sm-6">
          {{ page.megamenu__search }}
        </div>
        <!-- End - search -->

        <!-- Begin - toggle megamenu -->
        <div class="col-12 col-sm-3">
          <div class="text-align-right">
            <button
              class="custom-megamenu__button custom-megamenu__button--toggle-megamenu js-toggle-megamenu d-none d-sm-inline-block" aria-label="{{ 'Luk menu' | t }}">

              <span class="material-icons icon">close</span>
            </button>
          </div>
        </div>
        <!-- End - toggle megamenu -->

      </div>
    </div>
    <!-- End - top row -->

    <!-- Begin - navigation -->
    <div class="custom-megamenu__row custom-megamenu__row--navigation">
      {{ page.megamenu__navigation }}
      {{ page.megamenu__selfservice }}
    </div>
    <!-- End - navigation -->

  </div>
</div>
<!-- End - megamenu -->

<header class="d-print-none">

    <div class="custom-header custom-header--static">
      <div class="custom-header__inner">
        <div class="container">

          <!-- Begin - top -->
          <div class="flexy-row">

            <div class="flexy-spacer d-sm-none"></div>

            <!-- Begin - logo -->
            <a href="{{ url('<front>') }}" class="custom-header__logo">
              <img src="{{ base_path ~ directory }}/dist/images/logo.png" alt="Ringsted Kommune" />
            </a>
            <!-- End - logo -->

            <!--{% include '@fds_redwhite_theme/includes/action-buttons.html.twig' %}-->

            <div class="flexy-spacer"></div>

            <!-- Begin - toggle -->
{#             <button
              class="custom-header__button custom-header__button--toggle-megamenu js-toggle-megamenu d-none d-sm-block" aria-label="{{ 'Åbn menu' | t }}">
              <span class="icon fa fa-bars"></span>
            </button> #}
            <!-- End - toggle -->

          </div>
          <!-- End - top -->

          {% if theme_settings.texts.frontpage_banner_heading or theme_settings.texts.frontpage_banner_subheading %}
            <!-- Begin - meta -->
            <div class="custom-header__meta">
              <h1 class="h1">{{ theme_settings.texts.frontpage_banner_heading }}</h1>
              <h2 class="h4">{{ theme_settings.texts.frontpage_banner_subheading }}</h2>
            </div>
            <!-- End - meta -->
          {% endif %}

          <div class="menuwrapper">
            <!-- Begin - below -->
              <!-- Begin - toggle -->
              <button
                class="custom-header__button custom-header__button--toggle-megamenu d-sm-none" aria-label="{{ 'Åbn menu' | t }}">
                <span class="menutoggletitle">Menu</span><span class="icon fa fa-bars"></span>
              </button>
              <!-- End - toggle -->
            {{ page.header__below }}
            <!-- End - below -->
            <button class="custom-header__button custom-header__button--toggle-search js-toggle-searchy" aria-label="{{ 'Åbn søgning' | t }}">
              <span class="searchy-label">Søg</span><span class="icon fa fa-search"></span>
            </button>
            <!-- Begin - toggle search -->
            <div class="searchy">
              {{ page.header__search }}
            </div>
            <!-- End - toggle search -->
          </div>

        </div>
      </div>
    </div>
</header>

{{ page.featured_top }}

<div class="page-container" id="font-resize-wrapper">
  <div class="container" id="main-content">
    {{ page.highlighted }}

    {% if not is_front %}
      <div class="row d-print-none">
        <div class="col-12">
          <div class="flexy-row">
            <div class="flexy-spacer"></div>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="row">
      {#  Wayaround for determining visibility for regions with lazybuilder.
      @See https://www.drupal.org/project/drupal/issues/953034 for more info. #}
      {% set has_sidebar_first = page.sidebar_first|render|striptags|trim is not empty %}
      {% set has_sidebar_second = page.sidebar_second|render|striptags|trim is not empty %}
      {% if has_sidebar_first %}
        {% set sidebar_first_classes = [
          has_sidebar_first and has_sidebar_second ? 'col-12 col-md-3',
          has_sidebar_first and has_sidebar_second is empty ? 'col-12 col-md-4',
        ] %}
        <aside {{ attributes.addClass(sidebar_first_classes) }}>
          <div class="layout-sidebar-left">
            {{ page.sidebar_first }}
          </div>
        </aside>
      {% endif %}

      {% set content_classes = [
        has_sidebar_first and has_sidebar_second ? 'col-12 col-md-6',
        has_sidebar_first and has_sidebar_second is empty ? 'col-12 col-md-8',
        has_sidebar_second and has_sidebar_first is empty ? 'col-12 col-md-8',
        has_sidebar_first is empty and has_sidebar_second is empty ? 'col-12 col-md-12'
      ] %}

      {% set has_main_content = page.content|render|striptags|trim is not empty %}
      <main {{ content_attributes.addClass(content_classes) }}>
        {% if has_main_content %}
          {{ page.breadcrumb }}
        {% endif %}

        {{ page.content }}
      </main>

      {% if has_sidebar_second %}
        {% set sidebar_second_classes = [
          has_sidebar_first and has_sidebar_second ? 'col-12 col-md-3',
          has_sidebar_first is empty and has_sidebar_second ? 'col-12 col-md-4',
        ] %}
        <aside {{ attributes.addClass(sidebar_second_classes) }}>
          <div class="layout-sidebar-right">
            {% if show_action_buttons %}
            {% include '@fds_redwhite_theme/includes/action-buttons.html.twig' %}
            {% endif %}
            <div class="box">
              <div class="box__body">
                {{ page.sidebar_second }}
              </div>
            </div>
          </div>
        </aside>
      {% endif %}
    </div>
  </div>

  {{ page.featured_bottom_first }}
</div>

{% include '@fds_redwhite_theme/includes/footer.html.twig' %}

<div class="d-none">
  {{ page.embedded_code }}
</div>

<script>

  // Add internet explorer class to <body>
  (function() {
    var ua = window.navigator.userAgent;
    var isIE = /MSIE|Trident/.test(ua);

    if(isIE) {
      document.documentElement.classList.add('ie');
    }
  })();
</script>
